src/wsdl/localhost_8080/carabiserver_web/AdminService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="AdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/AdminService?xsd=1"/>
</xsd:schema>
</types>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="getSchema">
<part name="parameters" element="tns:getSchema"/>
</message>
<message name="getSchemaResponse">
<part name="parameters" element="tns:getSchemaResponse"/>
</message>
<message name="getRolePermissions">
<part name="parameters" element="tns:getRolePermissions"/>
</message>
<message name="getRolePermissionsResponse">
<part name="parameters" element="tns:getRolePermissionsResponse"/>
</message>
<message name="deleteQuery">
<part name="parameters" element="tns:deleteQuery"/>
</message>
<message name="deleteQueryResponse">
<part name="parameters" element="tns:deleteQueryResponse"/>
</message>
<message name="setUserStatus">
<part name="parameters" element="tns:setUserStatus"/>
</message>
<message name="setUserStatusResponse">
<part name="parameters" element="tns:setUserStatusResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="getRolesList">
<part name="parameters" element="tns:getRolesList"/>
</message>
<message name="getRolesListResponse">
<part name="parameters" element="tns:getRolesListResponse"/>
</message>
<message name="RegisterException">
<part name="fault" element="tns:RegisterException"/>
</message>
<message name="saveRole">
<part name="parameters" element="tns:saveRole"/>
</message>
<message name="saveRoleResponse">
<part name="parameters" element="tns:saveRoleResponse"/>
</message>
<message name="deleteRole">
<part name="parameters" element="tns:deleteRole"/>
</message>
<message name="deleteRoleResponse">
<part name="parameters" element="tns:deleteRoleResponse"/>
</message>
<message name="getSchemasList">
<part name="parameters" element="tns:getSchemasList"/>
</message>
<message name="getSchemasListResponse">
<part name="parameters" element="tns:getSchemasListResponse"/>
</message>
<message name="saveSchema">
<part name="parameters" element="tns:saveSchema"/>
</message>
<message name="saveSchemaResponse">
<part name="parameters" element="tns:saveSchemaResponse"/>
</message>
<message name="deleteSchema">
<part name="parameters" element="tns:deleteSchema"/>
</message>
<message name="deleteSchemaResponse">
<part name="parameters" element="tns:deleteSchemaResponse"/>
</message>
<message name="getCategoriesList">
<part name="parameters" element="tns:getCategoriesList"/>
</message>
<message name="getCategoriesListResponse">
<part name="parameters" element="tns:getCategoriesListResponse"/>
</message>
<message name="saveCategory">
<part name="parameters" element="tns:saveCategory"/>
</message>
<message name="saveCategoryResponse">
<part name="parameters" element="tns:saveCategoryResponse"/>
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory"/>
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse"/>
</message>
<message name="getQueriesList">
<part name="parameters" element="tns:getQueriesList"/>
</message>
<message name="getQueriesListResponse">
<part name="parameters" element="tns:getQueriesListResponse"/>
</message>
<message name="searchQueries">
<part name="parameters" element="tns:searchQueries"/>
</message>
<message name="searchQueriesResponse">
<part name="parameters" element="tns:searchQueriesResponse"/>
</message>
<message name="saveQuery">
<part name="parameters" element="tns:saveQuery"/>
</message>
<message name="saveQueryResponse">
<part name="parameters" element="tns:saveQueryResponse"/>
</message>
<message name="setQueryDeprecated">
<part name="parameters" element="tns:setQueryDeprecated"/>
</message>
<message name="setQueryDeprecatedResponse">
<part name="parameters" element="tns:setQueryDeprecatedResponse"/>
</message>
<message name="addUserRelations">
<part name="parameters" element="tns:addUserRelations"/>
</message>
<message name="addUserRelationsResponse">
<part name="parameters" element="tns:addUserRelationsResponse"/>
</message>
<message name="removeUserRelations">
<part name="parameters" element="tns:removeUserRelations"/>
</message>
<message name="removeUserRelationsResponse">
<part name="parameters" element="tns:removeUserRelationsResponse"/>
</message>
<message name="getPhoneTypes">
<part name="parameters" element="tns:getPhoneTypes"/>
</message>
<message name="getPhoneTypesResponse">
<part name="parameters" element="tns:getPhoneTypesResponse"/>
</message>
<message name="assignPermissionForUser">
<part name="parameters" element="tns:assignPermissionForUser"/>
</message>
<message name="assignPermissionForUserResponse">
<part name="parameters" element="tns:assignPermissionForUserResponse"/>
</message>
<message name="assignPermissionForRole">
<part name="parameters" element="tns:assignPermissionForRole"/>
</message>
<message name="assignPermissionForRoleResponse">
<part name="parameters" element="tns:assignPermissionForRoleResponse"/>
</message>
<message name="assignRoleForUser">
<part name="parameters" element="tns:assignRoleForUser"/>
</message>
<message name="assignRoleForUserResponse">
<part name="parameters" element="tns:assignRoleForUserResponse"/>
</message>
<message name="copyPermissionsFromRoleToRole">
<part name="parameters" element="tns:copyPermissionsFromRoleToRole"/>
</message>
<message name="copyPermissionsFromRoleToRoleResponse">
<part name="parameters" element="tns:copyPermissionsFromRoleToRoleResponse"/>
</message>
<message name="copyPermissionsFromRoleToUser">
<part name="parameters" element="tns:copyPermissionsFromRoleToUser"/>
</message>
<message name="copyPermissionsFromRoleToUserResponse">
<part name="parameters" element="tns:copyPermissionsFromRoleToUserResponse"/>
</message>
<message name="copyPermissionsFromUserToRole">
<part name="parameters" element="tns:copyPermissionsFromUserToRole"/>
</message>
<message name="copyPermissionsFromUserToRoleResponse">
<part name="parameters" element="tns:copyPermissionsFromUserToRoleResponse"/>
</message>
<message name="getUsersHavingPermission">
<part name="parameters" element="tns:getUsersHavingPermission"/>
</message>
<message name="getUsersHavingPermissionResponse">
<part name="parameters" element="tns:getUsersHavingPermissionResponse"/>
</message>
<message name="getUserPermissions">
<part name="parameters" element="tns:getUserPermissions"/>
</message>
<message name="getUserPermissionsResponse">
<part name="parameters" element="tns:getUserPermissionsResponse"/>
</message>
<message name="userHasPermision">
<part name="parameters" element="tns:userHasPermision"/>
</message>
<message name="userHasPermisionResponse">
<part name="parameters" element="tns:userHasPermisionResponse"/>
</message>
<message name="getUserAllowedSchemas">
<part name="parameters" element="tns:getUserAllowedSchemas"/>
</message>
<message name="getUserAllowedSchemasResponse">
<part name="parameters" element="tns:getUserAllowedSchemasResponse"/>
</message>
<message name="getUsersList">
<part name="parameters" element="tns:getUsersList"/>
</message>
<message name="getUsersListResponse">
<part name="parameters" element="tns:getUsersListResponse"/>
</message>
<message name="getActiveUsersList">
<part name="parameters" element="tns:getActiveUsersList"/>
</message>
<message name="getActiveUsersListResponse">
<part name="parameters" element="tns:getActiveUsersListResponse"/>
</message>
<message name="saveUser">
<part name="parameters" element="tns:saveUser"/>
</message>
<message name="saveUserResponse">
<part name="parameters" element="tns:saveUserResponse"/>
</message>
<message name="getQuery">
<part name="parameters" element="tns:getQuery"/>
</message>
<message name="getQueryResponse">
<part name="parameters" element="tns:getQueryResponse"/>
</message>
<portType name="AdminService">
<operation name="getUser">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getUserResponse" message="tns:getUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getUser/Fault/CarabiException"/>
</operation>
<operation name="getSchema">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getSchemaRequest" message="tns:getSchema"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getSchemaResponse" message="tns:getSchemaResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getSchema/Fault/CarabiException"/>
</operation>
<operation name="getRolePermissions">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getRolePermissionsRequest" message="tns:getRolePermissions"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getRolePermissionsResponse" message="tns:getRolePermissionsResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getRolePermissions/Fault/CarabiException"/>
</operation>
<operation name="deleteQuery">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/deleteQueryRequest" message="tns:deleteQuery"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/deleteQueryResponse" message="tns:deleteQueryResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/deleteQuery/Fault/CarabiException"/>
</operation>
<operation name="setUserStatus">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/setUserStatusRequest" message="tns:setUserStatus"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/setUserStatusResponse" message="tns:setUserStatusResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/setUserStatus/Fault/CarabiException"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/deleteUserResponse" message="tns:deleteUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/deleteUser/Fault/CarabiException"/>
</operation>
<operation name="getRolesList">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getRolesListRequest" message="tns:getRolesList"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getRolesListResponse" message="tns:getRolesListResponse"/>
<fault message="tns:RegisterException" name="RegisterException" wsam:Action="http://soap.server.carabi.ru/AdminService/getRolesList/Fault/RegisterException"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getRolesList/Fault/CarabiException"/>
</operation>
<operation name="saveRole">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/saveRoleRequest" message="tns:saveRole"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/saveRoleResponse" message="tns:saveRoleResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/saveRole/Fault/CarabiException"/>
</operation>
<operation name="deleteRole">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/deleteRoleRequest" message="tns:deleteRole"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/deleteRoleResponse" message="tns:deleteRoleResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/deleteRole/Fault/CarabiException"/>
</operation>
<operation name="getSchemasList">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getSchemasListRequest" message="tns:getSchemasList"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getSchemasListResponse" message="tns:getSchemasListResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getSchemasList/Fault/CarabiException"/>
</operation>
<operation name="saveSchema">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/saveSchemaRequest" message="tns:saveSchema"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/saveSchemaResponse" message="tns:saveSchemaResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/saveSchema/Fault/CarabiException"/>
</operation>
<operation name="deleteSchema">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/deleteSchemaRequest" message="tns:deleteSchema"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/deleteSchemaResponse" message="tns:deleteSchemaResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/deleteSchema/Fault/CarabiException"/>
</operation>
<operation name="getCategoriesList">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getCategoriesListRequest" message="tns:getCategoriesList"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getCategoriesListResponse" message="tns:getCategoriesListResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getCategoriesList/Fault/CarabiException"/>
</operation>
<operation name="saveCategory">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/saveCategoryRequest" message="tns:saveCategory"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/saveCategoryResponse" message="tns:saveCategoryResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/saveCategory/Fault/CarabiException"/>
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/deleteCategoryRequest" message="tns:deleteCategory"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/deleteCategoryResponse" message="tns:deleteCategoryResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/deleteCategory/Fault/CarabiException"/>
</operation>
<operation name="getQueriesList">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getQueriesListRequest" message="tns:getQueriesList"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getQueriesListResponse" message="tns:getQueriesListResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getQueriesList/Fault/CarabiException"/>
</operation>
<operation name="searchQueries">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/searchQueriesRequest" message="tns:searchQueries"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/searchQueriesResponse" message="tns:searchQueriesResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/searchQueries/Fault/CarabiException"/>
</operation>
<operation name="saveQuery">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/saveQueryRequest" message="tns:saveQuery"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/saveQueryResponse" message="tns:saveQueryResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/saveQuery/Fault/CarabiException"/>
</operation>
<operation name="setQueryDeprecated">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/setQueryDeprecatedRequest" message="tns:setQueryDeprecated"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/setQueryDeprecatedResponse" message="tns:setQueryDeprecatedResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/setQueryDeprecated/Fault/CarabiException"/>
</operation>
<operation name="addUserRelations">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/addUserRelationsRequest" message="tns:addUserRelations"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/addUserRelationsResponse" message="tns:addUserRelationsResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/addUserRelations/Fault/CarabiException"/>
</operation>
<operation name="removeUserRelations">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/removeUserRelationsRequest" message="tns:removeUserRelations"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/removeUserRelationsResponse" message="tns:removeUserRelationsResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/removeUserRelations/Fault/CarabiException"/>
</operation>
<operation name="getPhoneTypes">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getPhoneTypesRequest" message="tns:getPhoneTypes"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getPhoneTypesResponse" message="tns:getPhoneTypesResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getPhoneTypes/Fault/CarabiException"/>
</operation>
<operation name="assignPermissionForUser">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/assignPermissionForUserRequest" message="tns:assignPermissionForUser"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/assignPermissionForUserResponse" message="tns:assignPermissionForUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/assignPermissionForUser/Fault/CarabiException"/>
</operation>
<operation name="assignPermissionForRole">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/assignPermissionForRoleRequest" message="tns:assignPermissionForRole"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/assignPermissionForRoleResponse" message="tns:assignPermissionForRoleResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/assignPermissionForRole/Fault/CarabiException"/>
</operation>
<operation name="assignRoleForUser">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/assignRoleForUserRequest" message="tns:assignRoleForUser"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/assignRoleForUserResponse" message="tns:assignRoleForUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/assignRoleForUser/Fault/CarabiException"/>
</operation>
<operation name="copyPermissionsFromRoleToRole">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromRoleToRoleRequest" message="tns:copyPermissionsFromRoleToRole"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromRoleToRoleResponse" message="tns:copyPermissionsFromRoleToRoleResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromRoleToRole/Fault/CarabiException"/>
</operation>
<operation name="copyPermissionsFromRoleToUser">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromRoleToUserRequest" message="tns:copyPermissionsFromRoleToUser"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromRoleToUserResponse" message="tns:copyPermissionsFromRoleToUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromRoleToUser/Fault/CarabiException"/>
</operation>
<operation name="copyPermissionsFromUserToRole">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromUserToRoleRequest" message="tns:copyPermissionsFromUserToRole"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromUserToRoleResponse" message="tns:copyPermissionsFromUserToRoleResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/copyPermissionsFromUserToRole/Fault/CarabiException"/>
</operation>
<operation name="getUsersHavingPermission">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getUsersHavingPermissionRequest" message="tns:getUsersHavingPermission"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getUsersHavingPermissionResponse" message="tns:getUsersHavingPermissionResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getUsersHavingPermission/Fault/CarabiException"/>
</operation>
<operation name="getUserPermissions">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getUserPermissionsRequest" message="tns:getUserPermissions"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getUserPermissionsResponse" message="tns:getUserPermissionsResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getUserPermissions/Fault/CarabiException"/>
</operation>
<operation name="userHasPermision">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/userHasPermisionRequest" message="tns:userHasPermision"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/userHasPermisionResponse" message="tns:userHasPermisionResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/userHasPermision/Fault/CarabiException"/>
</operation>
<operation name="getUserAllowedSchemas">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getUserAllowedSchemasRequest" message="tns:getUserAllowedSchemas"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getUserAllowedSchemasResponse" message="tns:getUserAllowedSchemasResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getUserAllowedSchemas/Fault/CarabiException"/>
</operation>
<operation name="getUsersList">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getUsersListRequest" message="tns:getUsersList"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getUsersListResponse" message="tns:getUsersListResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getUsersList/Fault/CarabiException"/>
</operation>
<operation name="getActiveUsersList">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getActiveUsersListRequest" message="tns:getActiveUsersList"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getActiveUsersListResponse" message="tns:getActiveUsersListResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getActiveUsersList/Fault/CarabiException"/>
</operation>
<operation name="saveUser">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/saveUserRequest" message="tns:saveUser"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/saveUserResponse" message="tns:saveUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/saveUser/Fault/CarabiException"/>
</operation>
<operation name="getQuery">
<input wsam:Action="http://soap.server.carabi.ru/AdminService/getQueryRequest" message="tns:getQuery"/>
<output wsam:Action="http://soap.server.carabi.ru/AdminService/getQueryResponse" message="tns:getQueryResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AdminService/getQuery/Fault/CarabiException"/>
</operation>
</portType>
<binding name="AdminServicePortBinding" type="tns:AdminService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getSchema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getRolePermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="deleteQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="setUserStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getRolesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RegisterException">
<soap:fault name="RegisterException" use="literal"/>
</fault>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="saveRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="deleteRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getSchemasList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="saveSchema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="deleteSchema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getCategoriesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="saveCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getQueriesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="searchQueries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="saveQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="setQueryDeprecated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="addUserRelations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="removeUserRelations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getPhoneTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="assignPermissionForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="assignPermissionForRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="assignRoleForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="copyPermissionsFromRoleToRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="copyPermissionsFromRoleToUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="copyPermissionsFromUserToRole">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getUsersHavingPermission">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getUserPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="userHasPermision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getUserAllowedSchemas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getUsersList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getActiveUsersList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="saveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
</binding>
<service name="AdminService">
<port name="AdminServicePort" binding="tns:AdminServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/AdminService"/>
</port>
</service>
</definitions>