src/wsdl/localhost_8080/carabiserver_web/AuthService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="AuthService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/AuthService?xsd=1"/>
</xsd:schema>
</types>
<message name="createTokenSimple">
<part name="parameters" element="tns:createTokenSimple"/>
</message>
<message name="createTokenSimpleResponse">
<part name="parameters" element="tns:createTokenSimpleResponse"/>
</message>
<message name="RegisterException">
<part name="fault" element="tns:RegisterException"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="removeToken">
<part name="parameters" element="tns:removeToken"/>
</message>
<message name="removeTokenResponse">
<part name="parameters" element="tns:removeTokenResponse"/>
</message>
<message name="disconnect">
<part name="parameters" element="tns:disconnect"/>
</message>
<message name="disconnectResponse">
<part name="parameters" element="tns:disconnectResponse"/>
</message>
<portType name="AuthService">
<operation name="createTokenSimple">
<input wsam:Action="http://soap.server.carabi.ru/AuthService/createTokenSimpleRequest" message="tns:createTokenSimple"/>
<output wsam:Action="http://soap.server.carabi.ru/AuthService/createTokenSimpleResponse" message="tns:createTokenSimpleResponse"/>
<fault message="tns:RegisterException" name="RegisterException" wsam:Action="http://soap.server.carabi.ru/AuthService/createTokenSimple/Fault/RegisterException"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/AuthService/createTokenSimple/Fault/CarabiException"/>
</operation>
<operation name="removeToken">
<input wsam:Action="http://soap.server.carabi.ru/AuthService/removeTokenRequest" message="tns:removeToken"/>
<output wsam:Action="http://soap.server.carabi.ru/AuthService/removeTokenResponse" message="tns:removeTokenResponse"/>
</operation>
<operation name="disconnect">
<input wsam:Action="http://soap.server.carabi.ru/AuthService/disconnectRequest" message="tns:disconnect"/>
<output wsam:Action="http://soap.server.carabi.ru/AuthService/disconnectResponse" message="tns:disconnectResponse"/>
</operation>
</portType>
<binding name="AuthServicePortBinding" type="tns:AuthService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createTokenSimple">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RegisterException">
<soap:fault name="RegisterException" use="literal"/>
</fault>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="removeToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="disconnect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AuthService">
<port name="AuthServicePort" binding="tns:AuthServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/AuthService"/>
</port>
</service>
</definitions>