src/wsdl/localhost_8080/carabiserver_web/EventerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="EventerService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/EventerService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEventerToken">
<part name="parameters" element="tns:getEventerToken"/>
</message>
<message name="getEventerTokenResponse">
<part name="parameters" element="tns:getEventerTokenResponse"/>
</message>
<message name="fireEvent">
<part name="parameters" element="tns:fireEvent"/>
</message>
<message name="fireEventResponse">
<part name="parameters" element="tns:fireEventResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<portType name="EventerService">
<operation name="getEventerToken">
<input wsam:Action="http://soap.server.carabi.ru/EventerService/getEventerTokenRequest" message="tns:getEventerToken"/>
<output wsam:Action="http://soap.server.carabi.ru/EventerService/getEventerTokenResponse" message="tns:getEventerTokenResponse"/>
</operation>
<operation name="fireEvent">
<input wsam:Action="http://soap.server.carabi.ru/EventerService/fireEventRequest" message="tns:fireEvent"/>
<output wsam:Action="http://soap.server.carabi.ru/EventerService/fireEventResponse" message="tns:fireEventResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.server.carabi.ru/EventerService/fireEvent/Fault/IOException"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/EventerService/fireEvent/Fault/CarabiException"/>
</operation>
</portType>
<binding name="EventerServicePortBinding" type="tns:EventerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEventerToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fireEvent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
</binding>
<service name="EventerService">
<port name="EventerServicePort" binding="tns:EventerServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/EventerService"/>
</port>
</service>
</definitions>