src/wsdl/localhost_8080/carabiserver_web/GuestService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.server.carabi.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.server.carabi.ru/">

<xs:element name="CarabiException" type="tns:CarabiException"/>

<xs:element name="RegisterException" type="tns:RegisterException"/>

<xs:element name="about" type="tns:about"/>

<xs:element name="aboutResponse" type="tns:aboutResponse"/>

<xs:element name="getOracleUserID" type="tns:getOracleUserID"/>

<xs:element name="getOracleUserIDResponse" type="tns:getOracleUserIDResponse"/>

<xs:element name="getUserInfo" type="tns:getUserInfo"/>

<xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>

<xs:element name="getWebUserInfo" type="tns:getWebUserInfo"/>

<xs:element name="getWebUserInfoResponse" type="tns:getWebUserInfoResponse"/>

<xs:element name="recoverPassword" type="tns:recoverPassword"/>

<xs:element name="recoverPasswordResponse" type="tns:recoverPasswordResponse"/>

<xs:element name="registerUser" type="tns:registerUser"/>

<xs:element name="registerUserLight" type="tns:registerUserLight"/>

<xs:element name="registerUserLightResponse" type="tns:registerUserLightResponse"/>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>

<xs:element name="sendPasswordRecoverCode" type="tns:sendPasswordRecoverCode"/>

<xs:element name="sendPasswordRecoverCodeResponse" type="tns:sendPasswordRecoverCodeResponse"/>

<xs:element name="unauthorize" type="tns:unauthorize"/>

<xs:element name="unauthorizeResponse" type="tns:unauthorizeResponse"/>

<xs:element name="wellcomeNN" type="tns:wellcomeNN"/>

<xs:element name="wellcomeNNResponse" type="tns:wellcomeNNResponse"/>

<xs:complexType name="sendPasswordRecoverCode">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendPasswordRecoverCodeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="CarabiException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfo">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOracleUserID">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOracleUserIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unauthorize">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="permanently" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unauthorizeResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userAgent" type="xs:string" minOccurs="0"/>
<xs:element name="clientIp" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
<xs:element name="vc" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
<xs:element name="schemaID" type="xs:int" minOccurs="0"/>
<xs:element name="info" type="tns:soapUserInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="soapUserInfo">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="ct_item_id" type="xs:int"/>
<xs:element name="display" type="xs:string" minOccurs="0"/>
<xs:element name="owner" type="xs:int"/>
<xs:element name="owner_fullname" type="xs:string" minOccurs="0"/>
<xs:element name="parent" type="xs:int"/>
<xs:element name="parent_display" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:int"/>
<xs:element name="role_descr" type="xs:string" minOccurs="0"/>
<xs:element name="available_workspaces" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="databaseDescr" type="xs:string" minOccurs="0"/>
<xs:element name="userrole_id" type="xs:int"/>
<xs:element name="license_to" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RegisterException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="messageCode" type="tns:messageCode" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="about">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="aboutResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recoverPassword">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recoverPasswordResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWebUserInfo">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWebUserInfoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserLight">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="userAgent" type="xs:string" minOccurs="0"/>
<xs:element name="requireSession" type="xs:boolean"/>
<xs:element name="notConnectToOracle" type="xs:boolean"/>
<xs:element name="clientIp" type="xs:string" minOccurs="0"/>
<xs:element name="schemaName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserLightResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
<xs:element name="schemaName" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wellcomeNN">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
<xs:element name="vc" type="xs:int"/>
<xs:element name="schemaID" type="xs:int"/>
<xs:element name="schemaName" type="xs:string" minOccurs="0"/>
<xs:element name="autoCloseableConnection" type="xs:boolean"/>
<xs:element name="notConnectToOracle" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wellcomeNNResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
<xs:element name="timestamp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="messageCode">
<xs:restriction base="xs:string">
<xs:enumeration value="INTERNAL_ERROR"/>
<xs:enumeration value="ORACLE_ERROR"/>
<xs:enumeration value="ILLEGAL_LOGIN_OR_PASSWORD"/>
<xs:enumeration value="NO_LOGIN_KERNEL"/>
<xs:enumeration value="NO_LOGIN_ORACLE"/>
<xs:enumeration value="BAD_PASSWORD_KERNEL"/>
<xs:enumeration value="BAD_PASSWORD_ORACLE"/>
<xs:enumeration value="NO_WEBUSER"/>
<xs:enumeration value="NO_SCHEMA"/>
<xs:enumeration value="NO_TOKEN"/>
<xs:enumeration value="VERSION_MISMATCH"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>