src/wsdl/localhost_8080/carabiserver_web/ImagesService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.server.carabi.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.server.carabi.ru/">

<xs:element name="getThumbnail" type="tns:getThumbnail"/>

<xs:element name="getThumbnailResponse" type="tns:getThumbnailResponse"/>

<xs:complexType name="getThumbnail">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="original" type="tns:fileOnServer" minOccurs="0"/>
<xs:element name="width" type="xs:int"/>
<xs:element name="height" type="xs:int"/>
<xs:element name="useKernelBase" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fileOnServer">
<xs:complexContent>
<xs:extension base="tns:abstractEntity">
<xs:sequence>
<xs:element name="contentAddress" type="xs:string" minOccurs="0"/>
<xs:element name="contentLength" type="xs:long" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="mimeType" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractEntity" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getThumbnailResponse">
<xs:sequence>
<xs:element name="return" type="tns:fileOnServer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>