src/wsdl/localhost_8080/carabiserver_web/MessageService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="MessageService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/MessageService?xsd=1"/>
</xsd:schema>
</types>
<message name="countUnreadMessages">
<part name="parameters" element="tns:countUnreadMessages"/>
</message>
<message name="countUnreadMessagesResponse">
<part name="parameters" element="tns:countUnreadMessagesResponse"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="getNotifyMessages">
<part name="parameters" element="tns:getNotifyMessages"/>
</message>
<message name="getNotifyMessagesResponse">
<part name="parameters" element="tns:getNotifyMessagesResponse"/>
</message>
<message name="CarabiOracleError">
<part name="fault" element="tns:CarabiOracleError"/>
</message>
<message name="collectUnreadMessages">
<part name="parameters" element="tns:collectUnreadMessages"/>
</message>
<message name="collectUnreadMessagesResponse">
<part name="parameters" element="tns:collectUnreadMessagesResponse"/>
</message>
<message name="collectUnreadMessagesDetails">
<part name="parameters" element="tns:collectUnreadMessagesDetails"/>
</message>
<message name="collectUnreadMessagesDetailsResponse">
<part name="parameters" element="tns:collectUnreadMessagesDetailsResponse"/>
</message>
<portType name="MessageService">
<operation name="countUnreadMessages">
<input wsam:Action="http://soap.server.carabi.ru/MessageService/countUnreadMessagesRequest" message="tns:countUnreadMessages"/>
<output wsam:Action="http://soap.server.carabi.ru/MessageService/countUnreadMessagesResponse" message="tns:countUnreadMessagesResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/MessageService/countUnreadMessages/Fault/CarabiException"/>
</operation>
<operation name="getNotifyMessages">
<input wsam:Action="http://soap.server.carabi.ru/MessageService/getNotifyMessagesRequest" message="tns:getNotifyMessages"/>
<output wsam:Action="http://soap.server.carabi.ru/MessageService/getNotifyMessagesResponse" message="tns:getNotifyMessagesResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/MessageService/getNotifyMessages/Fault/CarabiException"/>
<fault message="tns:CarabiOracleError" name="CarabiOracleError" wsam:Action="http://soap.server.carabi.ru/MessageService/getNotifyMessages/Fault/CarabiOracleError"/>
</operation>
<operation name="collectUnreadMessages">
<input wsam:Action="http://soap.server.carabi.ru/MessageService/collectUnreadMessagesRequest" message="tns:collectUnreadMessages"/>
<output wsam:Action="http://soap.server.carabi.ru/MessageService/collectUnreadMessagesResponse" message="tns:collectUnreadMessagesResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/MessageService/collectUnreadMessages/Fault/CarabiException"/>
</operation>
<operation name="collectUnreadMessagesDetails">
<input wsam:Action="http://soap.server.carabi.ru/MessageService/collectUnreadMessagesDetailsRequest" message="tns:collectUnreadMessagesDetails"/>
<output wsam:Action="http://soap.server.carabi.ru/MessageService/collectUnreadMessagesDetailsResponse" message="tns:collectUnreadMessagesDetailsResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/MessageService/collectUnreadMessagesDetails/Fault/CarabiException"/>
</operation>
</portType>
<binding name="MessageServicePortBinding" type="tns:MessageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="countUnreadMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getNotifyMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
<fault name="CarabiOracleError">
<soap:fault name="CarabiOracleError" use="literal"/>
</fault>
</operation>
<operation name="collectUnreadMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="collectUnreadMessagesDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MessageService">
<port name="MessageServicePort" binding="tns:MessageServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/MessageService"/>
</port>
</service>
</definitions>