src/wsdl/localhost_8080/carabiserver_web/MessageService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.server.carabi.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.server.carabi.ru/">

<xs:element name="CarabiException" type="tns:CarabiException"/>

<xs:element name="CarabiOracleError" type="tns:CarabiOracleError"/>

<xs:element name="collectUnreadMessages" type="tns:collectUnreadMessages"/>

<xs:element name="collectUnreadMessagesDetails" type="tns:collectUnreadMessagesDetails"/>

<xs:element name="collectUnreadMessagesDetailsResponse" type="tns:collectUnreadMessagesDetailsResponse"/>

<xs:element name="collectUnreadMessagesResponse" type="tns:collectUnreadMessagesResponse"/>

<xs:element name="countUnreadMessages" type="tns:countUnreadMessages"/>

<xs:element name="countUnreadMessagesResponse" type="tns:countUnreadMessagesResponse"/>

<xs:element name="getNotifyMessages" type="tns:getNotifyMessages"/>

<xs:element name="getNotifyMessagesResponse" type="tns:getNotifyMessagesResponse"/>

<xs:complexType name="collectUnreadMessagesDetails">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="collectUnreadMessagesDetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarabiException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNotifyMessages">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNotifyMessagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarabiOracleError">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUnreadMessages">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUnreadMessagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="collectUnreadMessages">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="collectUnreadMessagesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>