src/wsdl/localhost_8080/carabiserver_web/PhoneService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="PhoneService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/PhoneService?xsd=1"/>
</xsd:schema>
</types>
<message name="getPhoneTypes">
<part name="parameters" element="tns:getPhoneTypes"/>
</message>
<message name="getPhoneTypesResponse">
<part name="parameters" element="tns:getPhoneTypesResponse"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="getUserPhones">
<part name="parameters" element="tns:getUserPhones"/>
</message>
<message name="getUserPhonesResponse">
<part name="parameters" element="tns:getUserPhonesResponse"/>
</message>
<message name="getMySip">
<part name="parameters" element="tns:getMySip"/>
</message>
<message name="getMySipResponse">
<part name="parameters" element="tns:getMySipResponse"/>
</message>
<message name="initCall">
<part name="parameters" element="tns:initCall"/>
</message>
<message name="initCallResponse">
<part name="parameters" element="tns:initCallResponse"/>
</message>
<message name="redirectCall">
<part name="parameters" element="tns:redirectCall"/>
</message>
<message name="redirectCallResponse">
<part name="parameters" element="tns:redirectCallResponse"/>
</message>
<message name="terminateCall">
<part name="parameters" element="tns:terminateCall"/>
</message>
<message name="terminateCallResponse">
<part name="parameters" element="tns:terminateCallResponse"/>
</message>
<portType name="PhoneService">
<operation name="getPhoneTypes">
<input wsam:Action="http://soap.server.carabi.ru/PhoneService/getPhoneTypesRequest" message="tns:getPhoneTypes"/>
<output wsam:Action="http://soap.server.carabi.ru/PhoneService/getPhoneTypesResponse" message="tns:getPhoneTypesResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/PhoneService/getPhoneTypes/Fault/CarabiException"/>
</operation>
<operation name="getUserPhones">
<input wsam:Action="http://soap.server.carabi.ru/PhoneService/getUserPhonesRequest" message="tns:getUserPhones"/>
<output wsam:Action="http://soap.server.carabi.ru/PhoneService/getUserPhonesResponse" message="tns:getUserPhonesResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/PhoneService/getUserPhones/Fault/CarabiException"/>
</operation>
<operation name="getMySip">
<input wsam:Action="http://soap.server.carabi.ru/PhoneService/getMySipRequest" message="tns:getMySip"/>
<output wsam:Action="http://soap.server.carabi.ru/PhoneService/getMySipResponse" message="tns:getMySipResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/PhoneService/getMySip/Fault/CarabiException"/>
</operation>
<operation name="initCall">
<input wsam:Action="http://soap.server.carabi.ru/PhoneService/initCallRequest" message="tns:initCall"/>
<output wsam:Action="http://soap.server.carabi.ru/PhoneService/initCallResponse" message="tns:initCallResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/PhoneService/initCall/Fault/CarabiException"/>
</operation>
<operation name="redirectCall">
<input wsam:Action="http://soap.server.carabi.ru/PhoneService/redirectCallRequest" message="tns:redirectCall"/>
<output wsam:Action="http://soap.server.carabi.ru/PhoneService/redirectCallResponse" message="tns:redirectCallResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/PhoneService/redirectCall/Fault/CarabiException"/>
</operation>
<operation name="terminateCall">
<input wsam:Action="http://soap.server.carabi.ru/PhoneService/terminateCallRequest" message="tns:terminateCall"/>
<output wsam:Action="http://soap.server.carabi.ru/PhoneService/terminateCallResponse" message="tns:terminateCallResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/PhoneService/terminateCall/Fault/CarabiException"/>
</operation>
</portType>
<binding name="PhoneServicePortBinding" type="tns:PhoneService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPhoneTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getUserPhones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getMySip">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="initCall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="redirectCall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="terminateCall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PhoneService">
<port name="PhoneServicePort" binding="tns:PhoneServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/PhoneService"/>
</port>
</service>
</definitions>