src/wsdl/localhost_8080/carabiserver_web/PhoneService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.server.carabi.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.server.carabi.ru/">

<xs:element name="CarabiException" type="tns:CarabiException"/>

<xs:element name="getMySip" type="tns:getMySip"/>

<xs:element name="getMySipResponse" type="tns:getMySipResponse"/>

<xs:element name="getPhoneTypes" type="tns:getPhoneTypes"/>

<xs:element name="getPhoneTypesResponse" type="tns:getPhoneTypesResponse"/>

<xs:element name="getUserPhones" type="tns:getUserPhones"/>

<xs:element name="getUserPhonesResponse" type="tns:getUserPhonesResponse"/>

<xs:element name="initCall" type="tns:initCall"/>

<xs:element name="initCallResponse" type="tns:initCallResponse"/>

<xs:element name="redirectCall" type="tns:redirectCall"/>

<xs:element name="redirectCallResponse" type="tns:redirectCallResponse"/>

<xs:element name="terminateCall" type="tns:terminateCall"/>

<xs:element name="terminateCallResponse" type="tns:terminateCallResponse"/>

<xs:complexType name="getMySip">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMySipResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarabiException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terminateCall">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="phoneId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="terminateCallResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="redirectCall">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="phoneFromId" type="xs:long" minOccurs="0"/>
<xs:element name="phoneToId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="redirectCallResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserPhones">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserPhonesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initCall">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="phoneFromId" type="xs:long" minOccurs="0"/>
<xs:element name="phoneToId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initCallResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPhoneTypes">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPhoneTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>