src/wsdl/localhost_8080/carabiserver_web/ProductionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="ProductionService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/ProductionService?xsd=1"/>
</xsd:schema>
</types>
<message name="grantForUser">
<part name="parameters" element="tns:grantForUser"/>
</message>
<message name="grantForUserResponse">
<part name="parameters" element="tns:grantForUserResponse"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="allowForUser">
<part name="parameters" element="tns:allowForUser"/>
</message>
<message name="allowForUserResponse">
<part name="parameters" element="tns:allowForUserResponse"/>
</message>
<message name="getVersionsList">
<part name="parameters" element="tns:getVersionsList"/>
</message>
<message name="getVersionsListResponse">
<part name="parameters" element="tns:getVersionsListResponse"/>
</message>
<message name="checkLastVersion">
<part name="parameters" element="tns:checkLastVersion"/>
</message>
<message name="checkLastVersionResponse">
<part name="parameters" element="tns:checkLastVersionResponse"/>
</message>
<portType name="ProductionService">
<operation name="grantForUser">
<input wsam:Action="http://soap.server.carabi.ru/ProductionService/grantForUserRequest" message="tns:grantForUser"/>
<output wsam:Action="http://soap.server.carabi.ru/ProductionService/grantForUserResponse" message="tns:grantForUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProductionService/grantForUser/Fault/CarabiException"/>
</operation>
<operation name="allowForUser">
<input wsam:Action="http://soap.server.carabi.ru/ProductionService/allowForUserRequest" message="tns:allowForUser"/>
<output wsam:Action="http://soap.server.carabi.ru/ProductionService/allowForUserResponse" message="tns:allowForUserResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProductionService/allowForUser/Fault/CarabiException"/>
</operation>
<operation name="getVersionsList">
<input wsam:Action="http://soap.server.carabi.ru/ProductionService/getVersionsListRequest" message="tns:getVersionsList"/>
<output wsam:Action="http://soap.server.carabi.ru/ProductionService/getVersionsListResponse" message="tns:getVersionsListResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProductionService/getVersionsList/Fault/CarabiException"/>
</operation>
<operation name="checkLastVersion">
<input wsam:Action="http://soap.server.carabi.ru/ProductionService/checkLastVersionRequest" message="tns:checkLastVersion"/>
<output wsam:Action="http://soap.server.carabi.ru/ProductionService/checkLastVersionResponse" message="tns:checkLastVersionResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProductionService/checkLastVersion/Fault/CarabiException"/>
</operation>
</portType>
<binding name="ProductionServicePortBinding" type="tns:ProductionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="grantForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="allowForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getVersionsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="checkLastVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProductionService">
<port name="ProductionServicePort" binding="tns:ProductionServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/ProductionService"/>
</port>
</service>
</definitions>