src/wsdl/localhost_8080/carabiserver_web/ProfileService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="ProfileService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/ProfileService?xsd=1"/>
</xsd:schema>
</types>
<message name="productionIsAllowed">
<part name="parameters" element="tns:productionIsAllowed"/>
</message>
<message name="productionIsAllowedResponse">
<part name="parameters" element="tns:productionIsAllowedResponse"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="productionIsAvailable">
<part name="parameters" element="tns:productionIsAvailable"/>
</message>
<message name="productionIsAvailableResponse">
<part name="parameters" element="tns:productionIsAvailableResponse"/>
</message>
<message name="getAvailableProduction">
<part name="parameters" element="tns:getAvailableProduction"/>
</message>
<message name="getAvailableProductionResponse">
<part name="parameters" element="tns:getAvailableProductionResponse"/>
</message>
<message name="setShowOnlineMode">
<part name="parameters" element="tns:setShowOnlineMode"/>
</message>
<message name="setShowOnlineModeResponse">
<part name="parameters" element="tns:setShowOnlineModeResponse"/>
</message>
<message name="havePermision">
<part name="parameters" element="tns:havePermision"/>
</message>
<message name="havePermisionResponse">
<part name="parameters" element="tns:havePermisionResponse"/>
</message>
<message name="getShowOnlineMode">
<part name="parameters" element="tns:getShowOnlineMode"/>
</message>
<message name="getShowOnlineModeResponse">
<part name="parameters" element="tns:getShowOnlineModeResponse"/>
</message>
<message name="assertPermisionAllowed">
<part name="parameters" element="tns:assertPermisionAllowed"/>
</message>
<message name="assertPermisionAllowedResponse">
<part name="parameters" element="tns:assertPermisionAllowedResponse"/>
</message>
<message name="getAllowedProduction">
<part name="parameters" element="tns:getAllowedProduction"/>
</message>
<message name="getAllowedProductionResponse">
<part name="parameters" element="tns:getAllowedProductionResponse"/>
</message>
<message name="assertProductionAllowed">
<part name="parameters" element="tns:assertProductionAllowed"/>
</message>
<message name="assertProductionAllowedResponse">
<part name="parameters" element="tns:assertProductionAllowedResponse"/>
</message>
<message name="assertProductionAvailable">
<part name="parameters" element="tns:assertProductionAvailable"/>
</message>
<message name="assertProductionAvailableResponse">
<part name="parameters" element="tns:assertProductionAvailableResponse"/>
</message>
<message name="getPermissions">
<part name="parameters" element="tns:getPermissions"/>
</message>
<message name="getPermissionsResponse">
<part name="parameters" element="tns:getPermissionsResponse"/>
</message>
<portType name="ProfileService">
<operation name="productionIsAllowed">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/productionIsAllowedRequest" message="tns:productionIsAllowed"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/productionIsAllowedResponse" message="tns:productionIsAllowedResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/productionIsAllowed/Fault/CarabiException"/>
</operation>
<operation name="productionIsAvailable">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/productionIsAvailableRequest" message="tns:productionIsAvailable"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/productionIsAvailableResponse" message="tns:productionIsAvailableResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/productionIsAvailable/Fault/CarabiException"/>
</operation>
<operation name="getAvailableProduction">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/getAvailableProductionRequest" message="tns:getAvailableProduction"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/getAvailableProductionResponse" message="tns:getAvailableProductionResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/getAvailableProduction/Fault/CarabiException"/>
</operation>
<operation name="setShowOnlineMode">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/setShowOnlineModeRequest" message="tns:setShowOnlineMode"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/setShowOnlineModeResponse" message="tns:setShowOnlineModeResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/setShowOnlineMode/Fault/CarabiException"/>
</operation>
<operation name="havePermision">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/havePermisionRequest" message="tns:havePermision"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/havePermisionResponse" message="tns:havePermisionResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/havePermision/Fault/CarabiException"/>
</operation>
<operation name="getShowOnlineMode">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/getShowOnlineModeRequest" message="tns:getShowOnlineMode"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/getShowOnlineModeResponse" message="tns:getShowOnlineModeResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/getShowOnlineMode/Fault/CarabiException"/>
</operation>
<operation name="assertPermisionAllowed">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/assertPermisionAllowedRequest" message="tns:assertPermisionAllowed"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/assertPermisionAllowedResponse" message="tns:assertPermisionAllowedResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/assertPermisionAllowed/Fault/CarabiException"/>
</operation>
<operation name="getAllowedProduction">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/getAllowedProductionRequest" message="tns:getAllowedProduction"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/getAllowedProductionResponse" message="tns:getAllowedProductionResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/getAllowedProduction/Fault/CarabiException"/>
</operation>
<operation name="assertProductionAllowed">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/assertProductionAllowedRequest" message="tns:assertProductionAllowed"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/assertProductionAllowedResponse" message="tns:assertProductionAllowedResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/assertProductionAllowed/Fault/CarabiException"/>
</operation>
<operation name="assertProductionAvailable">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/assertProductionAvailableRequest" message="tns:assertProductionAvailable"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/assertProductionAvailableResponse" message="tns:assertProductionAvailableResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/assertProductionAvailable/Fault/CarabiException"/>
</operation>
<operation name="getPermissions">
<input wsam:Action="http://soap.server.carabi.ru/ProfileService/getPermissionsRequest" message="tns:getPermissions"/>
<output wsam:Action="http://soap.server.carabi.ru/ProfileService/getPermissionsResponse" message="tns:getPermissionsResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/ProfileService/getPermissions/Fault/CarabiException"/>
</operation>
</portType>
<binding name="ProfileServicePortBinding" type="tns:ProfileService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="productionIsAllowed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="productionIsAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getAvailableProduction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="setShowOnlineMode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="havePermision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getShowOnlineMode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="assertPermisionAllowed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getAllowedProduction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="assertProductionAllowed">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="assertProductionAvailable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProfileService">
<port name="ProfileServicePort" binding="tns:ProfileServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/ProfileService"/>
</port>
</service>
</definitions>