src/wsdl/localhost_8080/carabiserver_web/QueryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.carabi.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.carabi.ru/" name="QueryService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.carabi.ru/" schemaLocation="http://localhost:8080/carabiserver_web/QueryService?xsd=1"/>
</xsd:schema>
</types>
<message name="getDocsTableHeader">
<part name="parameters" element="tns:getDocsTableHeader"/>
</message>
<message name="getDocsTableHeaderResponse">
<part name="parameters" element="tns:getDocsTableHeaderResponse"/>
</message>
<message name="CarabiException">
<part name="fault" element="tns:CarabiException"/>
</message>
<message name="getPropertiesList">
<part name="parameters" element="tns:getPropertiesList"/>
</message>
<message name="getPropertiesListResponse">
<part name="parameters" element="tns:getPropertiesListResponse"/>
</message>
<message name="getDocKinds">
<part name="parameters" element="tns:getDocKinds"/>
</message>
<message name="getDocKindsResponse">
<part name="parameters" element="tns:getDocKindsResponse"/>
</message>
<message name="getDocKindFilters">
<part name="parameters" element="tns:getDocKindFilters"/>
</message>
<message name="getDocKindFiltersResponse">
<part name="parameters" element="tns:getDocKindFiltersResponse"/>
</message>
<message name="CarabiOracleError">
<part name="fault" element="tns:CarabiOracleError"/>
</message>
<message name="docSearchXml">
<part name="parameters" element="tns:docSearchXml"/>
</message>
<message name="docSearchXmlResponse">
<part name="parameters" element="tns:docSearchXmlResponse"/>
</message>
<message name="fetchNext">
<part name="parameters" element="tns:fetchNext"/>
</message>
<message name="fetchNextResponse">
<part name="parameters" element="tns:fetchNextResponse"/>
</message>
<message name="runStoredQuery">
<part name="parameters" element="tns:runStoredQuery"/>
</message>
<message name="runStoredQueryResponse">
<part name="parameters" element="tns:runStoredQueryResponse"/>
</message>
<message name="CarabiOracleMessage">
<part name="fault" element="tns:CarabiOracleMessage"/>
</message>
<message name="runCarabiReportQuery">
<part name="parameters" element="tns:runCarabiReportQuery"/>
</message>
<message name="runCarabiReportQueryResponse">
<part name="parameters" element="tns:runCarabiReportQueryResponse"/>
</message>
<message name="getCarabiTable">
<part name="parameters" element="tns:getCarabiTable"/>
</message>
<message name="getCarabiTableResponse">
<part name="parameters" element="tns:getCarabiTableResponse"/>
</message>
<message name="closeFetch">
<part name="parameters" element="tns:closeFetch"/>
</message>
<message name="closeFetchResponse">
<part name="parameters" element="tns:closeFetchResponse"/>
</message>
<message name="closeAllFetches">
<part name="parameters" element="tns:closeAllFetches"/>
</message>
<message name="closeAllFetchesResponse">
<part name="parameters" element="tns:closeAllFetchesResponse"/>
</message>
<portType name="QueryService">
<operation name="getDocsTableHeader">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/getDocsTableHeaderRequest" message="tns:getDocsTableHeader"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/getDocsTableHeaderResponse" message="tns:getDocsTableHeaderResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/getDocsTableHeader/Fault/CarabiException"/>
</operation>
<operation name="getPropertiesList">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/getPropertiesListRequest" message="tns:getPropertiesList"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/getPropertiesListResponse" message="tns:getPropertiesListResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/getPropertiesList/Fault/CarabiException"/>
</operation>
<operation name="getDocKinds">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/getDocKindsRequest" message="tns:getDocKinds"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/getDocKindsResponse" message="tns:getDocKindsResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/getDocKinds/Fault/CarabiException"/>
</operation>
<operation name="getDocKindFilters">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/getDocKindFiltersRequest" message="tns:getDocKindFilters"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/getDocKindFiltersResponse" message="tns:getDocKindFiltersResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/getDocKindFilters/Fault/CarabiException"/>
<fault message="tns:CarabiOracleError" name="CarabiOracleError" wsam:Action="http://soap.server.carabi.ru/QueryService/getDocKindFilters/Fault/CarabiOracleError"/>
</operation>
<operation name="docSearchXml">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/docSearchXmlRequest" message="tns:docSearchXml"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/docSearchXmlResponse" message="tns:docSearchXmlResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/docSearchXml/Fault/CarabiException"/>
</operation>
<operation name="fetchNext">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/fetchNextRequest" message="tns:fetchNext"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/fetchNextResponse" message="tns:fetchNextResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/fetchNext/Fault/CarabiException"/>
</operation>
<operation name="runStoredQuery">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/runStoredQueryRequest" message="tns:runStoredQuery"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/runStoredQueryResponse" message="tns:runStoredQueryResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/runStoredQuery/Fault/CarabiException"/>
<fault message="tns:CarabiOracleError" name="CarabiOracleError" wsam:Action="http://soap.server.carabi.ru/QueryService/runStoredQuery/Fault/CarabiOracleError"/>
<fault message="tns:CarabiOracleMessage" name="CarabiOracleMessage" wsam:Action="http://soap.server.carabi.ru/QueryService/runStoredQuery/Fault/CarabiOracleMessage"/>
</operation>
<operation name="runCarabiReportQuery">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/runCarabiReportQueryRequest" message="tns:runCarabiReportQuery"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/runCarabiReportQueryResponse" message="tns:runCarabiReportQueryResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/runCarabiReportQuery/Fault/CarabiException"/>
</operation>
<operation name="getCarabiTable">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/getCarabiTableRequest" message="tns:getCarabiTable"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/getCarabiTableResponse" message="tns:getCarabiTableResponse"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/getCarabiTable/Fault/CarabiException"/>
</operation>
<operation name="closeFetch">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/closeFetchRequest" message="tns:closeFetch"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/closeFetchResponse" message="tns:closeFetchResponse"/>
<fault message="tns:CarabiOracleError" name="CarabiOracleError" wsam:Action="http://soap.server.carabi.ru/QueryService/closeFetch/Fault/CarabiOracleError"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/closeFetch/Fault/CarabiException"/>
</operation>
<operation name="closeAllFetches">
<input wsam:Action="http://soap.server.carabi.ru/QueryService/closeAllFetchesRequest" message="tns:closeAllFetches"/>
<output wsam:Action="http://soap.server.carabi.ru/QueryService/closeAllFetchesResponse" message="tns:closeAllFetchesResponse"/>
<fault message="tns:CarabiOracleError" name="CarabiOracleError" wsam:Action="http://soap.server.carabi.ru/QueryService/closeAllFetches/Fault/CarabiOracleError"/>
<fault message="tns:CarabiException" name="CarabiException" wsam:Action="http://soap.server.carabi.ru/QueryService/closeAllFetches/Fault/CarabiException"/>
</operation>
</portType>
<binding name="QueryServicePortBinding" type="tns:QueryService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDocsTableHeader">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getPropertiesList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getDocKinds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getDocKindFilters">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
<fault name="CarabiOracleError">
<soap:fault name="CarabiOracleError" use="literal"/>
</fault>
</operation>
<operation name="docSearchXml">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="fetchNext">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="runStoredQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
<fault name="CarabiOracleError">
<soap:fault name="CarabiOracleError" use="literal"/>
</fault>
<fault name="CarabiOracleMessage">
<soap:fault name="CarabiOracleMessage" use="literal"/>
</fault>
</operation>
<operation name="runCarabiReportQuery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="getCarabiTable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="closeFetch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiOracleError">
<soap:fault name="CarabiOracleError" use="literal"/>
</fault>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
<operation name="closeAllFetches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarabiOracleError">
<soap:fault name="CarabiOracleError" use="literal"/>
</fault>
<fault name="CarabiException">
<soap:fault name="CarabiException" use="literal"/>
</fault>
</operation>
</binding>
<service name="QueryService">
<port name="QueryServicePort" binding="tns:QueryServicePortBinding">
<soap:address location="http://localhost:8080/carabiserver_web/QueryService"/>
</port>
</service>
</definitions>